# Pathology data information

## show data

In [1]:
import pandas as pd
import numpy as np
import xlrd
df = pd.read_excel('raw_score20170306 recheck.xlsx', header = 0)
df.head()

,matnumber,病歷號,姓名,DateARFI,Birth,Sex,Date0,ALB,BilD,BilT,...,欄位65,Chart1,Name1,Median 1,mean1,Site1SD,Median2,mean2,Site2sd,同意書
0,1,8621793,曾世能,2015-01-20,1976-03-15,M,NaN,NaN,NaN,0.7,...,2015/1/20,8621793,曾世能,1.13,1.10,0.07,1.28,1.28,0.06,V
1,2,3445258,張家祥,2015-03-31,1968-01-16,M,NaN,NaN,0.3,1,...,2015/3/31,3445258,張家祥,1.11,1.11,0.06,1.07,1.04,0.13,V
2,3,10578058,陳易申,2015-06-10,1942-11-18,F,NaN,5.3,0.2,0.5,...,2015/6/10,10578058,陳易申,1.36,1.35,0.08,1.44,1.44,0.07,V
3,4,21217716,張柏建,2015-06-16,1985-12-04,M,NaN,NaN,NaN,NaN,...,2015/6/16,21217716,張柏健,1.57,1.57,0.07,1.61,1.58,0.10,V
4,5,9981269,黃振益,2015-05-04,1964-12-27,M,NaN,4.3,0.2,0.3,...,2015/5/4,9981269,黃振義,1.19,1.17,0.10,1.19,1.19,0.05,V

In [2]:
df.columns.values

array(['matnumber', '病歷號', '姓名', 'DateARFI', 'Birth', 'Sex', 'Date0',
       'ALB', 'BilD', 'BilT', 'rGT', 'ALP', 'AST', 'ALT', 'AFP', 'Date1',
       'HBsAg', 'Date2', 'HBeAg', 'AntiHBe', 'date3', 'AntiHCV', 'date4',
       'ANAslh2', 'AntiSMA', 'AntiAMA', 'date5', 'WBC', 'HB', 'PLT',
       'datePT', 'PT', 'PTNC', 'INR', 'dateHBV', 'HBVDNAmcps', 'HBVGT',
       'dateHCV', 'HCVRNAIU', 'HCVGT', 'Date6', 'qHBsAg', 'durg',
       'startstop', 'sampNo', 'BxDate', 'Bxno', 'Pathodr', 'ETI',
       'Tolinf18', 'ISHAK6', 'METAVIR4', 'HBsIHC', 'HBcIHC', 'NASHActS',
       'fatty', 'TNM', 'SPA', 'SPB', 'Ultrasound', 'score', 'Flscore',
       'BH', 'BW', '欄位65', 'Chart1', 'Name1', 'Median 1', 'mean1',
       'Site1SD', 'Median2', 'mean2', 'Site2sd', '同意書'], dtype=object)

In [3]:
df.loc[:, ['matnumber', 'DateARFI', 'Birth', 'Sex', 'fatty']]

     matnumber   DateARFI      Birth Sex     fatty
0            1 2015-01-20 1976-03-15   M         0
1            2 2015-03-31 1968-01-16   M         3
2            3 2015-06-10 1942-11-18   F         0
3            4 2015-06-16 1985-12-04   M         0
4            5 2015-05-04 1964-12-27   M         2
5            6 2015-06-23 1957-10-16   F         1
6            7 2015-01-23 1947-06-29   M         4
7            8 2015-02-06 1961-07-01   M         1
8            9 2015-09-24 1939-12-24   M         3
9           10 2015-11-26 1954-04-25   M         1
10          11 2015-12-28 1959-03-29   M   1(2011)
11          12 2015-11-13 1947-12-01   F         0
12          13 2015-12-01 1950-03-08   F         0
13          14 2015-04-08 1962-08-08   F         0
14          15 2016-01-12 1963-09-30   F         0
15          16 2015-08-21 1964-04-26   M         3
16          17 2015-01-20 1963-01-05   M         3
17          18 2015-10-13 1952-10-25   F         3
18          19 2015-12-22 1979-04-16   F         0
19          20 2015-02-24 1988-08-20   M         3
20          21 2015-01-15 1964-11-06   M         3
21          22 2016-02-19 1958-10-22   F        <5
22          23 2015-09-09 1981-03-10   M         3
23          24 2015-01-30 1949-10-14   M         1
24          25 2015-06-09 1956-03-18   M  10 (<5%)
25          26 2015-04-15 1955-03-25   M         1
26          27 2015-05-14 1963-11-09   F  20 (<5%)
27          28 2015-05-19 1962-08-14   M         3
28          29 2015-02-03 1956-07-05   M         3
29          30 2015-07-24 1962-10-31   M         0
..         ...        ...        ...  ..       ...
81          82 2015-03-12 1976-01-16   M        50
82          83 2015-08-31 1948-06-03   M        50
83          84 2015-06-23 1955-07-04   M        60
84          85 2015-10-20 1953-02-02   M        50
85          86 2015-08-18 1961-04-25   M        45
86          87 2015-12-04 1958-11-04   M        50
87          88 2015-09-08 1958-05-20   M        40
88          89 2015-10-16 1941-08-11   M        35
89          90 2015-12-03 1974-06-29   M        40
90          91 2015-06-29 1957-04-18   M        40
91          92 2015-06-10 1962-10-31   M        60
92          93 2015-11-02 1961-11-02   F        50
93          94 2016-01-05 1971-06-01   F        50
94          95 2015-08-14 1969-11-14   M        40
95          96 2016-03-04 1973-10-06   M        50
96          97 2015-04-07 1969-12-12   M        60
97          98 2015-10-20 1972-02-04   F        85
98          99 2015-07-07 1953-11-16   M        90
99         100 2015-05-26 1944-10-08   F        90
100        101 2015-05-05 1966-11-03   M        80
101        102 2015-01-13 1976-09-03   M        90
102        103 2015-09-22 1968-01-07   F        90
103        104 2015-09-22 1967-08-28   M        90
104        105 2015-07-28 1975-09-29   F        95
105        106 2015-12-15 1980-06-19   M        90
106        107 2015-04-21 1979-10-18   M        90
107        108 2015-01-13 1960-05-10   M        75
108        109 2016-03-08 1971-08-23   M        70
109        110 2015-03-25 1976-01-14   M        80
110        111 2015-09-01 1962-02-26   M        75

[111 rows x 5 columns]

## data cleaning

In [4]:
# values standardization
from dateutil import relativedelta
for i in df.index:
    df.loc[i, 'Age'] = relativedelta.relativedelta(df['DateARFI'][i], df['Birth'][i]).years
df['Sex'].replace({'F':0, 'M':1}, inplace = True)
df['fatty'].replace({'1(2011)':1, '<5':5, '10 (<5%)':5, '20 (<5%)':5, 'no fatty':0}, inplace = True)
df.loc[:, ['matnumber', 'Age', 'Sex', 'fatty']]

     matnumber   Age  Sex fatty
0            1  38.0    1     0
1            2  47.0    1     3
2            3  72.0    0     0
3            4  29.0    1     0
4            5  50.0    1     2
5            6  57.0    0     1
6            7  67.0    1     4
7            8  53.0    1     1
8            9  75.0    1     3
9           10  61.0    1     1
10          11  56.0    1     1
11          12  67.0    0     0
12          13  65.0    0     0
13          14  52.0    0     0
14          15  52.0    0     0
15          16  51.0    1     3
16          17  52.0    1     3
17          18  62.0    0     3
18          19  36.0    0     0
19          20  26.0    1     3
20          21  50.0    1     3
21          22  57.0    0     5
22          23  34.0    1     3
23          24  65.0    1     1
24          25  59.0    1     5
25          26  60.0    1     1
26          27  51.0    0     5
27          28  52.0    1     3
28          29  58.0    1     3
29          30  52.0    1     0
..         ...   ...  ...   ...
81          82  39.0    1    50
82          83  67.0    1    50
83          84  59.0    1    60
84          85  62.0    1    50
85          86  54.0    1    45
86          87  57.0    1    50
87          88  57.0    1    40
88          89  74.0    1    35
89          90  41.0    1    40
90          91  58.0    1    40
91          92  52.0    1    60
92          93  54.0    0    50
93          94  44.0    0    50
94          95  45.0    1    40
95          96  42.0    1    50
96          97  45.0    1    60
97          98  43.0    0    85
98          99  61.0    1    90
99         100  70.0    0    90
100        101  48.0    1    80
101        102  38.0    1    90
102        103  47.0    0    90
103        104  48.0    1    90
104        105  39.0    0    95
105        106  35.0    1    90
106        107  35.0    1    90
107        108  54.0    1    75
108        109  44.0    1    70
109        110  39.0    1    80
110        111  53.0    1    75

[111 rows x 4 columns]

## group in four stages

In [5]:
df0 = pd.DataFrame(columns = ['Age', 'Sex', 'fatty'])
df1 = pd.DataFrame(columns = ['Age', 'Sex', 'fatty'])
df2 = pd.DataFrame(columns = ['Age', 'Sex', 'fatty'])
df3 = pd.DataFrame(columns = ['Age', 'Sex', 'fatty'])
for i in range(len(df.index)):
    if int(df['fatty'][i]) < 5:
        df0 = df0.append({'Age': df['Age'][i], 'Sex': df['Sex'][i], 'fatty': df['fatty'][i]}, ignore_index=True)
    elif int(df['fatty'][i]) <= 33:
        df1 = df1.append({'Age': df['Age'][i], 'Sex': df['Sex'][i], 'fatty': df['fatty'][i]}, ignore_index=True)
    elif int(df['fatty'][i]) < 66:
        df2 = df2.append({'Age': df['Age'][i], 'Sex': df['Sex'][i], 'fatty': df['fatty'][i]}, ignore_index=True)
    elif int(df['fatty'][i]) <= 100:
        df3 = df3.append({'Age': df['Age'][i], 'Sex': df['Sex'][i], 'fatty': df['fatty'][i]}, ignore_index=True)

## calculate patient information

In [6]:
dfx= [df0, df1, df2, df3]
for i in range(4):
    print('df{0}'.format(i))
    print('Sample size : {0}'.format(len(dfx[i])))
    print('Age : {0:.2f} ± {1:.2f} ({2:.0f} - {3:.0f})'.format(dfx[i]['Age'].mean(), dfx[i]['Age'].std(), dfx[i]['Age'].min(), dfx[i]['Age'].max()))
    print('Sex : {0} woman & {1} man'.format(len(dfx[i]['Sex']) - dfx[i]['Sex'].sum(), dfx[i]['Sex'].sum()))

df0
Sample size : 46
Age : 52.04 ± 11.80 (26 - 75)
Sex : 19.0 woman & 27.0 man
df1
Sample size : 26
Age : 51.19 ± 10.45 (30 - 68)
Sex : 8.0 woman & 18.0 man
df2
Sample size : 25
Age : 54.32 ± 10.31 (39 - 74)
Sex : 4 woman & 21 man
df3
Sample size : 14
Age : 46.71 ± 10.13 (35 - 70)
Sex : 4 woman & 10 man

# New Pathology data information

## show data

In [7]:
import pandas as pd
import numpy as np
import xlrd
df = pd.read_excel('CGMH_gastro.xlsx', header = 1)
df.head()

,收案編號,Age,Sex,Height,Body weight,BMI,T-cholesterol,Tg,ALB,BilD,...,ARFI/med,IQR.2,fibroscankPa,fibroscanCAP,IQR/med%,同意書,備註,fibroscankPa.1,fibroscanCAP.1,IQR/med%.1
0,1.0,60.0,F,148.0,58.0,26.479182,NaN,NaN,NaN,NaN,...,1.13,0.06,4.5,192.0,9.0,V,NaN,NaN,NaN,NaN
1,2.0,59.0,F,150.0,67.0,29.777778,216,47,3.50,NaN,...,1.33,0.50,9.7,273.0,11.0,V,NaN,NaN,NaN,NaN
2,3.0,48.0,F,154.0,75.0,31.624220,NaN,NaN,4.05,NaN,...,1.13,0.15,5.4,269.0,15.0,V,NaN,NaN,NaN,NaN
3,4.0,46.0,F,156.0,52.0,21.367521,NaN,NaN,3.50,0.3,...,0.96,0.09,4.3,260.0,7.0,V,NaN,NaN,NaN,NaN
4,5.0,31.0,M,170.0,88.0,30.449827,NaN,NaN,NaN,0.3,...,1.59,0.42,9.3,333.0,14.0,V,NaN,NaN,NaN,NaN

In [8]:
df.columns.values

array(['收案編號', 'Age', 'Sex', 'Height', 'Body weight', 'BMI',
       'T-cholesterol', 'Tg', 'ALB', 'BilD', 'BilT', 'rGT', 'ALP', 'AST',
       'ALT', 'AFP', 'HBsAg', 'HBeAg', 'AntiHBe', 'AntiHCV', 'ANAslh2',
       'AntiSMA', 'AntiMITO', 'WBC', 'HB', 'PLT', 'PT', 'PTNC', 'INR',
       'Bxno', 'Pathodr', 'ETI', 'Tolinf18', 'ISHAK6', 'METAVIR4',
       'HBsIHC', 'HBcIHC', 'NAS', 'NASHActS', 'fibrosis', 'fatty%', 'SPA',
       'SPB', 'Ultrasound', 'score', 'Flscore', 'ARFIseg5', 'IQR',
       'ARFIseg8', 'IQR.1', 'ARFI/med', 'IQR.2', 'fibroscankPa',
       'fibroscanCAP', 'IQR/med%', '同意書', '備註', 'fibroscankPa.1',
       'fibroscanCAP.1', 'IQR/med%.1'], dtype=object)

In [9]:
df[['收案編號', 'Age', 'Sex', 'fatty%', 'BMI']]

     收案編號   Age  Sex            fatty%        BMI
0     1.0  60.0    F               NaN  26.479182
1     2.0  59.0    F                40  29.777778
2     3.0  48.0    F                 0  31.624220
3     4.0  46.0    F               NaN  21.367521
4     5.0  31.0    M                90  30.449827
5     6.0  69.0    F                50  30.222222
6     7.0  67.0    F               < 5  28.621470
7     8.0  21.0    F               NaN  21.453574
8     9.0  54.0    M               NaN  23.030045
9    10.0  61.0    F                80  24.725183
10   11.0  45.0    M  no fatty chcange  25.909457
11   12.0  33.0    M                70  25.393431
12   13.0  54.0    M                50  24.577867
13   14.0  57.0    M                70  25.127831
14   15.0  62.0    F                40  24.121749
15   16.0  63.0    F                95  28.196921
16   17.0  51.0    F  no fatty chcange  19.436969
17   18.0  56.0    F                80  25.969529
18   19.0  24.0    M               >95  26.729927
19   20.0  24.0    M                 0  19.598765
20   21.0  41.0    M               NaN  29.396221
21   22.0  58.0    F                10  25.390625
22   23.0  68.0    F               NaN  27.111111
23   24.0  42.0    M                80  26.061679
24   25.0  58.0    M                60  28.393726
25   26.0  28.0    M                30  26.854406
26   27.0  28.0    M                 0  26.297578
27   28.0  58.0    F                90  20.429418
28   29.0  48.0    M                 0  26.196187
29   30.0  66.0    F                30  21.359306
..    ...   ...  ...               ...        ...
561   NaN   NaN  NaN               NaN        NaN
562   NaN   NaN  NaN               NaN        NaN
563   NaN   NaN  NaN               NaN        NaN
564   NaN   NaN  NaN               NaN        NaN
565   NaN   NaN  NaN               NaN        NaN
566   NaN   NaN  NaN               NaN        NaN
567   NaN   NaN  NaN               NaN        NaN
568   NaN   NaN  NaN               NaN        NaN
569   NaN   NaN  NaN               NaN        NaN
570   NaN   NaN  NaN               NaN        NaN
571   NaN   NaN  NaN               NaN        NaN
572   NaN   NaN  NaN               NaN        NaN
573   NaN   NaN  NaN               NaN        NaN
574   NaN   NaN  NaN               NaN        NaN
575   NaN   NaN  NaN               NaN        NaN
576   NaN   NaN  NaN               NaN        NaN
577   NaN   NaN  NaN               NaN        NaN
578   NaN   NaN  NaN               NaN        NaN
579   NaN   NaN  NaN               NaN        NaN
580   NaN   NaN  NaN               NaN        NaN
581   NaN   NaN  NaN               NaN        NaN
582   NaN   NaN  NaN               NaN        NaN
583   NaN   NaN  NaN               NaN        NaN
584   NaN   NaN  NaN               NaN        NaN
585   NaN   NaN  NaN               NaN        NaN
586   NaN   NaN  NaN               NaN        NaN
587   NaN   NaN  NaN               NaN        NaN
588   NaN   NaN  NaN               NaN        NaN
589   NaN   NaN  NaN               NaN        NaN
590   NaN   NaN  NaN               NaN        NaN

[591 rows x 5 columns]

## data cleaning

In [10]:
# delete data without pathology score
df.dropna(axis = 0, subset = ['fatty%'], inplace = True)
# values standardization
df['Sex'].replace({'F':0, 'M':1}, inplace = True)
df['fatty%'].replace({'< 5':3, '>95':96, 'no fatty chcange':0}, inplace = True)
df = df.reset_index(drop=True)
df[['收案編號', 'Age', 'Sex', 'fatty%', 'BMI']]

    收案編號   Age  Sex  fatty%        BMI
0    2.0  59.0    0      40  29.777778
1    3.0  48.0    0       0  31.624220
2    5.0  31.0    1      90  30.449827
3    6.0  69.0    0      50  30.222222
4    7.0  67.0    0       3  28.621470
5   10.0  61.0    0      80  24.725183
6   11.0  45.0    1       0  25.909457
7   12.0  33.0    1      70  25.393431
8   13.0  54.0    1      50  24.577867
9   14.0  57.0    1      70  25.127831
10  15.0  62.0    0      40  24.121749
11  16.0  63.0    0      95  28.196921
12  17.0  51.0    0       0  19.436969
13  18.0  56.0    0      80  25.969529
14  19.0  24.0    1      96  26.729927
15  20.0  24.0    1       0  19.598765
16  22.0  58.0    0      10  25.390625
17  24.0  42.0    1      80  26.061679
18  25.0  58.0    1      60  28.393726
19  26.0  28.0    1      30  26.854406
20  27.0  28.0    1       0  26.297578
21  28.0  58.0    0      90  20.429418
22  29.0  48.0    1       0  26.196187
23  30.0  66.0    0      30  21.359306
24  31.0  60.0    1       5  25.402816
25  32.0  61.0    1      90  30.863036
26  33.0  43.0    1      55  23.711845
27  34.0  45.0    1       5  29.561946
28  35.0  55.0    0       0  26.562500
29  36.0  39.0    1      70  31.020408
..   ...   ...  ...     ...        ...
44  52.0  54.0    0      40  27.434842
45  53.0  51.0    0      10  26.397977
46  55.0  51.0    0      25  30.666667
47  56.0  55.0    1      40  41.207533
48  57.0  49.0    0      95  31.184587
49  58.0  38.0    1      30  31.950790
50  59.0  38.0    1      70  31.250000
51  60.0  49.0    0      75  28.804414
52  61.0  46.0    1       0  23.875433
53  62.0  47.0    0       0  23.733238
54  63.0  52.0    1      25  27.681661
55  64.0  38.0    1      70  27.281746
56  65.0  61.0    0      30  20.936639
57  66.0  66.0    0      15  27.926670
58  67.0  45.0    0      85  29.174885
59  69.0  40.0    1      95  26.827421
60  70.0  43.0    1      70  31.553659
61  71.0  50.0    0       0  19.473407
62  72.0  59.0    1       5  22.981902
63  73.0  31.0    1      95  28.089011
64  74.0  38.0    1      40  26.446281
65  75.0  30.0    1      40  33.262141
66  76.0  45.0    1      75  25.895317
67  78.0  39.0    0       0  19.959355
68  79.0  34.0    1      99  26.953125
69  80.0  45.0    1      15  29.320988
70  81.0  47.0    0      40  26.289099
71  82.0  58.0    0      20  24.435187
72  84.0  19.0    1      95  24.618104
73  85.0  44.0    1      70  29.615806

[74 rows x 5 columns]

## group in four stages

In [11]:
df0 = pd.DataFrame(columns = ['Age', 'Sex', 'fatty', 'BMI'])
df1 = pd.DataFrame(columns = ['Age', 'Sex', 'fatty', 'BMI'])
df2 = pd.DataFrame(columns = ['Age', 'Sex', 'fatty', 'BMI'])
df3 = pd.DataFrame(columns = ['Age', 'Sex', 'fatty', 'BMI'])
for i in range(len(df.index)):
    if int(df['fatty%'][i]) < 5:
        df0 = df0.append({'Age': df['Age'][i], 'Sex': df['Sex'][i], 'fatty': df['fatty%'][i], 'BMI': df['BMI'][i]}, ignore_index=True)
    elif int(df['fatty%'][i]) <= 33:
        df1 = df1.append({'Age': df['Age'][i], 'Sex': df['Sex'][i], 'fatty': df['fatty%'][i], 'BMI': df['BMI'][i]}, ignore_index=True)
    elif int(df['fatty%'][i]) < 66:
        df2 = df2.append({'Age': df['Age'][i], 'Sex': df['Sex'][i], 'fatty': df['fatty%'][i], 'BMI': df['BMI'][i]}, ignore_index=True)
    elif int(df['fatty%'][i]) <= 100:
        df3 = df3.append({'Age': df['Age'][i], 'Sex': df['Sex'][i], 'fatty': df['fatty%'][i], 'BMI': df['BMI'][i]}, ignore_index=True)

## calculate patient information

In [12]:
dfx= [df0, df1, df2, df3]
for i in range(4):
    print('df{0}'.format(i))
    print('Sample size : {0}'.format(len(dfx[i])))
    print('Age : {0:.2f} ± {1:.2f} ({2:.0f} - {3:.0f})'.format(dfx[i]['Age'].mean(), dfx[i]['Age'].std(), dfx[i]['Age'].min(), dfx[i]['Age'].max()))
    print('Sex : {0} woman & {1} man'.format(len(dfx[i]['Sex']) - dfx[i]['Sex'].sum(), dfx[i]['Sex'].sum()))
    print('BMI : {0:.2f} ± {1:.2f} ({2:.0f} - {3:.0f})'.format(dfx[i]['BMI'].mean(), dfx[i]['BMI'].std(), dfx[i]['BMI'].min(), dfx[i]['BMI'].max()))

df0
Sample size : 14
Age : 45.00 ± 11.07 (24 - 67)
Sex : 9.0 woman & 5.0 man
BMI : 23.79 ± 3.88 (19 - 32)
df1
Sample size : 20
Age : 52.95 ± 10.95 (28 - 69)
Sex : 9.0 woman & 11.0 man
BMI : 26.60 ± 3.14 (21 - 32)
df2
Sample size : 14
Age : 54.07 ± 11.18 (30 - 69)
Sex : 7.0 woman & 7.0 man
BMI : 28.43 ± 4.77 (23 - 41)
df3
Sample size : 26
Age : 43.38 ± 11.97 (19 - 63)
Sex : 9.0 woman & 17.0 man
BMI : 27.63 ± 2.81 (20 - 32)